.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    gap: 10px;
    white-space: nowrap;
}